@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body{
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 450;
    background: url('../img/background.jpg') fixed;
    background-size: cover;
}

h1, h2, h3{
    font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 600;
}

h1{
    font-size: 300%;
    margin: 0;
}

h2, h3{
    color: black;
}

h2{
    font-size: 160%;
}

h3{
    font-size: 130%;
}

a:link, a:visited {
    text-decoration: none;
    color: #0000AA;
}

a:hover, a:focus{
    color:orange;
}

main{
    margin: 1.25rem 3rem;
    background-image: url('../img/ricepaper_v3.png');
    opacity: 0.8;
}

header{
    padding: 1em;
    background-color: #C94203;
    border-bottom: solid 5px #EA4A00;
    color: #FFFFFF;
}

header p{
    margin: 0;
    font-size: 120%;
    color: #EEEEEE;
}

footer{
    padding: 1em;
    background-color: #FC892F;
    border-top: solid 5px #EC791F;
    font-size: 80%;
    text-align: right;
}
footer a:hover {
    color:white;
}

dd{
    font-size: 80%;
    font-style: italic;
    margin: 0 0 1em 1em;
}

.general{
    padding: 1em;
}

.menu {
    padding: 1em;
    background-color: rgba(207,205,105,.5);
}

.about{
    padding: 1em;
}